<h1>Dashboard</h1>

<div class="row">
  <div class="col s6">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Top three companies by level of interest</h4></li>
      <ol class="collection">
        <% Job.top_companies(3).each do |company, average| %>
          <li class="collection-item">
            <%= link_to company, company_path(company) %>
            <%= average %>
          </li>
        <% end %>
      </ol>
    </ul>
  </div>
  <div class="col s6">
    <ul class="collection with-header">
      <li class="collection-header"><h4>Jobs by location</h4></li>
      <ol class="collection">
        <%= Job.locations.each do |location, count| %>
          <li><%= location %> - <%= pluralize(count, "job")  %></li>
        <% end %>
      </ol>
    </ul>
  </div>
</div>
