<nav>
  <div class="nav-wrapper">
    <div class="col s11">
      <%= link_to 'Home', root_path, class: "breadcrumb"%>
      <%= link_to @job.company.name, company_path(@job.company), class: "breadcrumb" %>
      <a href="#!" class="breadcrumb"><%= @job.title %></a>
    </div>
  </div>
</nav>
<ul class="collection with-header">
  <li class="collection-header"><h3>Title: <%= @job.title %></h3></li>
  <li class="collection-item">Description: <%= @job.description %></li>
  <li class="collection-item">Level of Interest: <%= @job.level_of_interest %></li>
  <li class="collection-item">City: <%= @job.city %></li>
  <li class="collection-item">Company: <%= link_to @job.company.name, company_path(@job.company) %></li>
</ul>

<h4>Comments</h4>
<%= render "comments/show" %>
<h4>New Comment</h4>
<%= render partial: "comments/form" %>
